{% extends 'base.html.twig' %}

{% block title %}Mes cours{% endblock %}

{% block body %}
<h1>Bonjour, Solène<h1>
    <hr>
        {% include "partials/_widget.html.twig" %}
    <hr>

<p>
    Prendre un cours régulier 
    This is a wider card with supporting text below as a natural lead-in to additional content. This contente is a little bit longer.
</p>
<p>
    Prendre un cours ponctuel 
    This is a wider card with supporting text below as a natural lead-in to additional content. This contente is a little bit longer.
</p>
<p>
    Réserver un stage
    This is a wider card with supporting text below as a natural lead-in to additional content. This contente is a little bit longer.
</p>


{% endblock %}
