{% extends 'base.html.twig' %}

{% block title %}Mes cours{% endblock %}

{% block body %}

    <h1>
	🧑 Bonjour, Solène
    <h1>

    <hr>
        {% include "partials/_widget.html.twig" %}
    <hr>


<div class="row" "col-ml-4">

    <div class="col-sm-2">
        <div class="card" style="width: 15rem;">
	        <div class="card-body">
                <h3 class="card-title">Prendre un cours régulier</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This contente is a little bit longer.
                </p>
                    <a href="{{ path('regular_course')}}" class="btn btn-secondary">Réserver</a>
            </div>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="card" style="width: 15rem;">
            <div class="card-body">     
                <h3 class="card-title">Prendre un cours ponctuel</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This contente is a little bit longer.</p>
                </p>
                    <input type="submit" value="Réserver" class="btn btn-secondary">
            </div>
        </div> 
    </div>    

    <div class="col-sm-2">
        <div class="card" style="width: 15rem;">
            <div class="card-body">
                <h3 class="card-title">Réserver un stage</h3>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This contente is a little bit longer.</p>
                </p>
                    <input type="submit" value="Réserver" class="btn btn-secondary">
            </div>
        </div>
    </div>
</div>

{% endblock %}
